In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('GlobalAirportDatabase/GlobalAirportDatabase.txt', sep=':', header=None, 
            names=["ICAO Code", "IATA Code", "Airport Name", "City/Town", "Country", 
                   "Latitude Degrees", "Latitude Minutes", "Latitude Seconds", 
                   "Latitude Direction", "Longitude Degrees", "Longitude Minutes", 
                   "Longitude Seconds", "Longitude Direction", "Altitude",
                   "Latitude Decimal Degrees", "Longitude Decimal Degrees"])

In [38]:
df

,ICAO Code,IATA Code,Airport Name,City/Town,Country,Latitude Degrees,Latitude Minutes,Latitude Seconds,Latitude Direction,Longitude Degrees,Longitude Minutes,Longitude Seconds,Longitude Direction,Altitude,Latitude Decimal Degrees,Longitude Decimal Degrees
0,AYGA,GKA,GOROKA,GOROKA,PAPUA NEW GUINEA,6,4,54,S,145,23,30,E,1610,-6.082,145.392
1,AYLA,LAE,NaN,LAE,PAPUA NEW GUINEA,0,0,0,U,0,0,0,U,0,0.000,0.000
2,AYMD,MAG,MADANG,MADANG,PAPUA NEW GUINEA,5,12,25,S,145,47,19,E,7,-5.207,145.789
3,AYMH,HGU,MOUNT HAGEN,MOUNT HAGEN,PAPUA NEW GUINEA,5,49,34,S,144,17,46,E,1643,-5.826,144.296
4,AYNZ,LAE,NADZAB,NADZAB,PAPUA NEW GUINEA,6,34,11,S,146,43,34,E,73,-6.570,146.726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9295,ZYTK,NaN,NaN,SHENYANG,CHINA,0,0,0,U,0,0,0,U,0,0.000,0.000
9296,ZYTL,DLC,ZHOUSHUIZI,DALIAN,CHINA,38,57,56,N,121,32,18,E,33,38.966,121.538
9297,ZYXC,NaN,NaN,XIANCHENG,CHINA,0,0,0,U,0,0,0,U,0,0.000,0.000
9298,ZYYC,NaN,NaN,YICHUN,CHINA,0,0,0,U,0,0,0,U,0,0.000,0.000
9299,ZYYJ,NaN,YANJI,YANJI,CHINA,42,52,54,N,129,26,54,E,191,42.882,129.448

In [39]:
gad_df = df.drop(columns=["Latitude Degrees", "Latitude Minutes", "Latitude Seconds", 
                   "Latitude Direction", "Longitude Degrees", "Longitude Minutes", 
                   "Longitude Seconds", "Longitude Direction", "Altitude"])

In [40]:
gad_df

,ICAO Code,IATA Code,Airport Name,City/Town,Country,Latitude Decimal Degrees,Longitude Decimal Degrees
0,AYGA,GKA,GOROKA,GOROKA,PAPUA NEW GUINEA,-6.082,145.392
1,AYLA,LAE,NaN,LAE,PAPUA NEW GUINEA,0.000,0.000
2,AYMD,MAG,MADANG,MADANG,PAPUA NEW GUINEA,-5.207,145.789
3,AYMH,HGU,MOUNT HAGEN,MOUNT HAGEN,PAPUA NEW GUINEA,-5.826,144.296
4,AYNZ,LAE,NADZAB,NADZAB,PAPUA NEW GUINEA,-6.570,146.726
...,...,...,...,...,...,...,...
9295,ZYTK,NaN,NaN,SHENYANG,CHINA,0.000,0.000
9296,ZYTL,DLC,ZHOUSHUIZI,DALIAN,CHINA,38.966,121.538
9297,ZYXC,NaN,NaN,XIANCHENG,CHINA,0.000,0.000
9298,ZYYC,NaN,NaN,YICHUN,CHINA,0.000,0.000
9299,ZYYJ,NaN,YANJI,YANJI,CHINA,42.882,129.448

In [44]:
gad_df.to_csv('GlobalAirportDatabase/GlobalAirportDatabaseClean.csv', index=False)

In [45]:
#csv back to dataframe

pd.read_csv('GlobalAirportDatabase/GlobalAirportDatabaseClean.csv')

,ICAO Code,IATA Code,Airport Name,City/Town,Country,Latitude Decimal Degrees,Longitude Decimal Degrees
0,AYGA,GKA,GOROKA,GOROKA,PAPUA NEW GUINEA,-6.082,145.392
1,AYLA,LAE,NaN,LAE,PAPUA NEW GUINEA,0.000,0.000
2,AYMD,MAG,MADANG,MADANG,PAPUA NEW GUINEA,-5.207,145.789
3,AYMH,HGU,MOUNT HAGEN,MOUNT HAGEN,PAPUA NEW GUINEA,-5.826,144.296
4,AYNZ,LAE,NADZAB,NADZAB,PAPUA NEW GUINEA,-6.570,146.726
...,...,...,...,...,...,...,...
9295,ZYTK,NaN,NaN,SHENYANG,CHINA,0.000,0.000
9296,ZYTL,DLC,ZHOUSHUIZI,DALIAN,CHINA,38.966,121.538
9297,ZYXC,NaN,NaN,XIANCHENG,CHINA,0.000,0.000
9298,ZYYC,NaN,NaN,YICHUN,CHINA,0.000,0.000
9299,ZYYJ,NaN,YANJI,YANJI,CHINA,42.882,129.448